@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(39, 40, 55);
         
}
.container{
      margin-left: -10%;
      width: 100%;
      
}
header img{
    position: relative;
    left: 20%;
}
header p{
    position: absolute;
    left: 35%;
    top: 33%;
    font-size: 95px;
    letter-spacing: 25px;
    text-transform: uppercase;
    font-weight:1000;
    color: rgb(194, 3, 3);
    font-family: 'Oswald', sans-serif;
}
header span{
    position: absolute;
    left: 38%;
    top: 29%;
    font-size: 20px;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-weight:500;
    color: white;
    font-family: 'Oswald', sans-serif;
}
.first-block,.second-block,.third-block,
.fourth-block,.seven-block{
  
    width: 70%;
    height: 250px;
    position: relative;
    left: 20%;
    
}
.first-left ,.fourth-left,.seven-left{
   
   width: 50%;
   height: 245px;
} 
.first-left ,.fourth-left,.seven-left{
    padding: 20px;
    font-size: 30px;
    display: flex;
    letter-spacing: 10px;
    justify-content: center;
    background-color:orange;
}
.first-left span{
    position: absolute;
    left: 15%;
    top: 10%;
    padding: 15px;
    font-size: 50px ;
    font-weight: 900;
    display: flex;
    color: white ;
    letter-spacing:15px;
    font-family: 'Oswald', sans-serif;   
}

.second-left span{
    font-family: 'Oswald', sans-serif;
    font-size: 110%;
}

.first-left p {
    position: absolute;
    left:5%;
    top:40%;
    width: 40%;
    font-size: 15px;
    flex-direction: column;
    
    font-weight: 500;
    color: white ;
    letter-spacing:1px;
}
.first-left p b{
    font-size: 20px;
    font-weight: 150%;
    font-family: sans-serif;
}
.first-right,.fourth-right,.seven-right{
  position: absolute;
  left: 50%;
  top: 0%;
  width: 50%;
  height: 245px;
  color: white;
  background-color: skyblue;
}
.first-right p{
    padding:5px;
    font-size:15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.first-right p b{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 150%;
}
.first-right p u{
    letter-spacing: 5px;
}

.second-left ,.third-left{
    
    width: 100%;
    height: 240px;  
    padding: 10px;
    font-size: 30px;
    display: flex;
    letter-spacing: 10px;
    justify-content: center;
    background-color:rgb(248, 39, 39);
}
.second-left p{
    position: absolute;
    left:2%;
    top:10%;
    width: 70%;
    font-size: 30px;
    color: white ;
    font-family:sans-serif;
   
}
.second-left ul{
    position: absolute;
    left: 65%;
    top: 10%;
    list-style-type: none;    
}
.second-left ul li{
    display: flex;
    letter-spacing: 70px;   
}
.second-left ul li p{
    letter-spacing:5px;
    font-size: 20px; 
    display: inline;
    flex-direction: column;
    color: white;
    font-family: sans-serif;
}
.fa-smoking{
    margin-left: 25px;

}
.fa-money-povert{
    margin-left: 142px;

}
.fa-drink{
    margin-left: 250px;
    align-items: center;

}
.second-left h4{
   
    position: absolute;
    left:2%;
    bottom:10%;
    width:80%;
    font-size:50%;
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    color: white ;
    letter-spacing:1px;
}

.second-left h4 b{
   
    font-size:25px;
    color: white ;
    letter-spacing:1px;
    
}

.third-left{
    background-color: skyblue;
    
}
.third-left h3{
    width: 50% ;
    font-size: 100%;
    color: white ;
    letter-spacing: 2px;
    font-family: 'Oswald', sans-serif;
}
.third-left table tbody tr td {
    width: 35%;
    font-family: sans-serif;
    color: white;
    letter-spacing: 1px;
    
}
.third-left table tbody tr td p{
    width: 85%;
    padding-right: 6px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 55%;
    margin-left: 22pt;
    color: white;margin-bottom: 6px;
    letter-spacing: 2px;
}



.fourth-left h2{
   
    position: absolute;
    font-family: 'Oswald', sans-serif;
    left: 3%;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: -8pt;
    margin-top: 18pt;
}
.fourth-left p{
    position: absolute;
    top: 20%;
    padding: 40px;
    font-size: 15px;
}
.fourth-left img{
    width:50% ;

}
.fourth-left{
   
    padding: 0px;
    color: white;
}
.fourth-right img{
    width: 50%;
    height: 100%;
}
.fourth-right p{
    position: absolute;
    margin-top: 18pt;
    left: 45%;
    padding: 10px;
    font-size: 15px;
    letter-spacing: 10px;
}
.five-block,.six-block{
    width: 55%;
    height: 150px;  
    position: relative;
    left: 20%;
}
.five-left ,.six-left{
    width: 100%;
    height: 150px;  
    padding: 10px;
    font-size: 30px;
    display: flex;
    letter-spacing: 10px;
    justify-content: center;
    background-color:rgb(248, 39, 39);
    color:white ;
    background-color: skyblue;
}
.five-left p{
    letter-spacing:8px;
    font-size: 20px;
    padding-right: 25pt;
}
.six-left img {
   width: 40%;
   
}
.six-left{
  
    background-color: orange;
}
.six-left p{
    font-size: 20px;
    letter-spacing: 5px;
   
}
.seven-left p{
    color: white;
    font-size: 20px;
}
.seven-right{
   padding: 30px;
}
.seven-right span{
    font-size: 30px;
}
.seven-left span{
    font-size: 30px;
    font-weight: bold;
}
.seven-left img{
    width: 35%;
    height: 90%;
}


.first-right p img {
    width: 15%;
}
.five-left p b {
    font-size: 40px;
}
.six-left p span {
    font-size: 40px;
}

@media screen and (min-width:1024px){
    header p{
        top: -1%;
        font-size: 90px;
        margin-left: -2%;
    }
    header span{
        margin-left: -2%;
        top: 12%;
    }
    .first-block,.second-block,.third-block,
    .fourth-block,.seven-block{
        width: 70%;
    }
        .first-left span{
            top: 15%;
            padding: 1px;
            font-size: 40px;
        }
        .first-right p img {
            width: 10%;
        }
        .second-left p{
            width: 50%;
            font-size: 15px;
        }
        .second-left ul{
            left: 50%;
        }
        .second-left ul li p span{
            left: 40%;
            font-size: 75%;

        }
        .fa-money-povert{
           padding-left: -2%;
           margin-right: -12px;

        }
        .second-left span {
            font-family: 'Oswald', sans-serif;
            font-size: 60%;
        }




        .third-left div{
            padding: 0px;
        }
        .third-left p i{
            font-size: 40px;
            position: absolute;
            top: 15px;
        }
        .fourth-right p{
            top: 0;
    
        }
        .five-block,.six-block{
            width: 70%;
        }
        .seven-right{
            padding: 10px;
        }
        .seven-right span{
            font-size: 25px;
        }
       
    
    
